body{
    background-color: #1b1b1b;
    color: #ffffff;
    
    margin: 0px;
    padding: 0px;

    font-family: sans-serif;
}

h3{
    padding: 10px;
    margin: 0;

    background-color: #1b1b1b;
}

table{
    padding: 5px;
    width: 100%;

    overflow: hidden;
}

tr{
    min-width: 50px;
}

.name_td{
    padding: 0px 0px 0px 20px;
    height: 45px;
    width: 100px;
}

.image_td{
    height: 45px;
    width: calc(100%-240px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.collect_button_td{
    padding: 0px 20px 0px 0px;
    height: 45px;
    width: 100px;
}

div{
    margin: 0px;
}

button{
    width: 90px;
    height: 35px;

    float:  right;
    outline-style: solid;
    outline-color: #747474;
    outline-width: 2px;
    
    border-style: none;
    border-radius: 5px;
}

#themes_container img{
    height: 45px;
    width: auto;

    margin: 0px;
    padding: 0px;
}

.themes{
    background-color: #2b2b2b;
    outline-style: solid;
    outline-color: #4b4b4b;
    outline-width: 2px;
    border-radius: 10px;

    margin: 10px;
}