body{
    background-color: #1b1b1b;
    color: #fff;
    
    margin: 0px;
    padding: 52px 0 0 0; /* change always to size of menu bar */
    font-family: Arial, Helvetica, sans-serif;

    cursor: default;
}

h3{
    text-shadow: 0 0 5px #d6d6d6;
    
    cursor: default;
}

#themes_container h3{
    padding: 10px;
    margin: 0;

    position:sticky;
    left: 0;
    right: 0;

    background-color: #1b1b1b;
}

table{
    width: 100%;

    overflow: hidden;
    border-collapse: collapse;
}

/* tr{
    min-width: 50px;
} */

.themes tr:hover{
    background-color: #222222;
}

.name_td{
    padding: 0px 0px 0px 10px;
    height: 45px;
    width: 100px;
    min-width: 90px;
}

.image_td{
    height: 45px;
    width: calc(100%-240px);
    min-width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.collect_button_td{
    padding: 0px 10px 0px 0px;
    height: 45px;
    width: 100px;
}

div{
    margin: 0px;
}

button{
    width: 90px;
    height: 30px;

    float:  right;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    color: white;
}

.add_collection_button{
    background-image: linear-gradient(to bottom right,rgb(0, 180, 0), rgb(25, 218, 25));
}
.add_collection_button:hover {
    box-shadow: 0 0 10px rgb(23, 133, 23);
}

.remove_collection_button{
    background-image: linear-gradient(to bottom left, rgb(189, 2, 2), red);
}
.remove_collection_button:hover {
    box-shadow: 0 0 10px rgb(253, 11, 11);
}

#themes_container {
    margin-left: 10px;
}

.themes_container_grid{
    display: flex;
    flex-wrap: wrap;
}

#themes_container .themes table tr td img{
    height: 42px;
    width: auto;

    margin: 0px;
    padding: 0px;
}

.themes{
    flex: auto;

    background-color: #2b2b2b;
    outline-style: solid;
    outline-color: #4b4b4b;
    outline-width: 2px;
    border-radius: 10px;

    margin: 10px 10px 0 0;
    overflow: auto;
}

div#menubar{
    background-color: #2b2b2b;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    outline: #4b4b4b;
    outline-style: solid;
    outline-width: 2px;
}

table#menutable{
    height: 100%;
}

table#menutable tr td.menu_left{
    float: left;
}

table#menutable tr td.menu_right{
    float: right;
}

#viewmode_icon{
    width: 30px;
    height: 30px;
    margin: 9px;

    border-radius: 3px;
    outline: black;
    outline-style: solid;
    outline-width: 2px;
    cursor: pointer;
}

#home_icon{
    width: 30px;
    height: 30px;
    margin-top: 9px;

    border-radius: 3px;
    outline: black;
    outline-style: solid;
    outline-width: 2px;
    cursor: pointer;
}

#viewmode_icon:hover{
    box-shadow: 0 0 5px #000000;
}

#counter{
    margin-right: 9px;
}

#counter h3{
    float: left;
}

